body {
	background-image: linear-gradient(to right, pink, maroon);
}
.box {
	width: 350px;
	height: 450px;
	background-color: white;
	position: absolute;
	margin: auto;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 25px 25px 25px 25px;
	
}
#h{
	text-align: center;
	border-top-color: red;
	margin-top:0;
	border-radius: 25px 25px 0 0;
	color:white;
	padding:10px;
	background-color: black;
}
label,input{
	margin:10px;
}
input{
	padding:8px;

	
}

button{
	background-color:maroon;
	color:white;
	padding:10px;
	width:150px;
	border-radius:5px;
	border-style: outset;
	margin: 0;
	position: absolute;
	left: 50%;
	right:50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
h4{
	text-align:center;
}


