<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<div class="box">
	<h4 id="h"> STUDENT APP </h4>
	<form method="post">
	  <label for="fname">First name:</label><br>
	  <input type="text" id="fname" name="fname" placeholder="Enter Your First Name"><br>
	  <label for="lname">Last name:</label><br>
	  <input type="text" id="lname" name="lname" placeholder="Enter Your Last Name"><br>
	  <label for="gender">Gender</label><br>
	  <input type="text" id="gender" name="gender" placeholder="Enter your Gender"><br><br>
	  <button type="submit" > Add Student</a></button>
</form> 

	</div>
	

</body>
</html>


